[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=DialCentral
Exec=/usr/bin/run-standalone.sh /usr/bin/dialcentral.py
Icon=dialcentral
